---
import Layout from "../layouts/Layout.astro";

// const functionsCount = 0;
// const edgeFunctionsCount = 0;
// const astroRouteCount = 0;
// const astroDbCount = 0;

/* --- Functions Count --- */

const functionsCountResponse = await fetch(
  new URL("/api/function/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!functionsCountResponse.ok) {
  throw new Error("Failed to fetch functions count");
}
const { count: functionsCount } = await functionsCountResponse.json();

console.log("[home] Functions count:", functionsCount);

/* --- Edge Functions Count --- */

const edgeFunctionsCountResponse = await fetch(
  new URL("/api/edge-function/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!edgeFunctionsCountResponse.ok) {
  throw new Error("Failed to fetch edge functions count");
}
const { count: edgeFunctionsCount } = await edgeFunctionsCountResponse.json();

/* --- Astro API Route Count --- */

const astroRouteCountResponse = await fetch(
  new URL("/api/astro-route/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!astroRouteCountResponse.ok) {
  throw new Error("Failed to fetch astro route count");
}
const { count: astroRouteCount } = await astroRouteCountResponse.json();

/* --- Astro DB Count --- */

const astroDbCountResponse = await fetch(
  new URL("/api/astro-db/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!astroDbCountResponse.ok) {
  throw new Error("Failed to fetch astro db count");
}
const { count: astroDbCount } = await astroDbCountResponse.json();
---

<Layout title="Astro + Netlify Blobs">
  <main>
    <h1>Astro + Netlify Blobs</h1>

    <div>
      <!-- Functions -->
      <div class="count-group">
        <span class="label">Functions:</span>
        <code class="value">{functionsCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="function" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="function" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>

      <div class="count-group">
        <span class="label">Edge Functions:</span>
        <code class="value">{edgeFunctionsCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="edgeFunction" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="edgeFunction" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>

      <div class="count-group">
        <span class="label">Astro Route:</span>
        <code class="value">{astroRouteCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="astroRoute" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="astroRoute" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>

      <div class="count-group">
        <span class="label">Astro DB:</span>
        <code class="value">{astroDbCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="astroDb" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="astroDb" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  code {
    background-color: #f4f4f4;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  .count-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }
</style>
