---
import Layout from "../layouts/Layout.astro";

/* --- Functions Count --- */

const functionsCountResponse = await fetch(
  new URL("/api/function/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!functionsCountResponse.ok) {
  throw new Error("Failed to fetch functions count");
}
const { count: functionsCount } = await functionsCountResponse.json();

console.log("[home] Functions count:", functionsCount);

/* --- Edge Functions Count --- */

const edgeFunctionsCountResponse = await fetch(
  new URL("/api/edge-function/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!edgeFunctionsCountResponse.ok) {
  throw new Error("Failed to fetch functions count");
}
const { count: edgeFunctionsCount } = await edgeFunctionsCountResponse.json();

/* --- Astro API Route Count --- */

const astroRouteCountResponse = await fetch(
  new URL("/api/astro-route/get-count", Astro.url.origin),
  {
    headers: {
      "Content-Type": "application/json",
      "x-api-key": process.env.API_KEY!,
    },
  }
);
if (!astroRouteCountResponse.ok) {
  throw new Error("Failed to fetch functions count");
}
const { count: astroRouteCount } = await astroRouteCountResponse.json();
---

<Layout title="Astro + Netlify Blobs">
  <main>
    <h1>Astro + Netlify Blobs</h1>

    <div>
      <!-- Functions -->
      <div class="count-group">
        <span class="label">Functions:</span>
        <code class="value">{functionsCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="function" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="function" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>

      <div class="count-group">
        <span class="label">Edge Functions:</span>
        <code class="value">{edgeFunctionsCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="edgeFunction" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="edgeFunction" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>

      <div class="count-group">
        <span class="label">Astro Route:</span>
        <code class="value">{astroRouteCount}</code>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="astroRoute" />
          <input type="hidden" name="action" value="decrement" />
          <button type="submit">-</button>
        </form>
        <form action="/actions/update-count" method="post">
          <input type="hidden" name="countType" value="astroRoute" />
          <input type="hidden" name="action" value="increment" />
          <button type="submit">+</button>
        </form>
      </div>

      <!-- <form action="/actions/update-count" method="post">
        <h2>Update Count</h2>
        <div class="form-group">
          <label for="countType">Count Type:</label>
          <select name="countType" id="countType" required>
            <option value="function">Function</option>
            <option value="edgeFunction">Edge Function</option>
            <option value="astroRoute">Astro Route</option>
          </select>
        </div>
        <div class="form-group">
          <label for="countType">Action:</label>
          <select name="action" id="action" required>
            <option value="increment">Increment</option>
            <option value="decrement">Decrement</option>
          </select>
        </div>
        <button type="submit">Update Count</button>
      </form> -->
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  code {
    background-color: #f4f4f4;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  .count-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }
</style>
